.login {
    display: grid;
    place-items: center ;
    background-color: black;
    height: 100vh;
}

.login > img {
    width: 25%;
}

.login > a {
    padding: 20px;
    color: black;
    background-color: #1db954;
    border-radius: 99px;
    font-weight: 800;
    text-decoration: none;
}